
.idea/

venv/
/env/

onix/onix/__pycache__/

onix/locations/__pycache__/

onix/locations/migrations/__pycache__/

onix/media/

onix/accounts/__pycache__/

onix/accounts/migrations/__pycache__/

onix/tests/

onix/locations_api/__pycache__/

onix/locations_api/migrations/__pycache__/
