asgiref==3.2.7
certifi==2019.11.28
chardet==3.0.4
Django==3.0.5
django-crispy-forms==1.9.0
django-filter==2.2.0
djangorestframework==3.11.0
idna==2.9
importlib-metadata==1.6.0
Markdown==3.2.2
mysqlclient==1.4.6
numpy==1.18.2
Pillow==7.1.2
PyMySQL==0.9.3
pytz==2019.3
PyYAML==5.3.1
requests==2.23.0
sqlparse==0.3.1
urllib3==1.25.8
zipp==3.1.0
